.bg-image {
    background-image: url("../images/back-field.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5%;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    max-width: 500px;
}

.form h3 {
    font-weight: bold;
}

input.form-control {
    border-radius: 0.5rem;
}
