<footer class="text-center bg-dark mt-5">
    <div class="container text-white py-4 py-lg-5">
        <ul class="list-inline text-center">
            <li class="list-inline-item me-4"><a class="link-light"
                                                 href="https://github.com/Makin-Things/platinum-weather-card">Design elements</a></li>
            <li class="list-inline-item me-4"><a class="link-light" href="">Development</a>
            </li>
        </ul>
        <p class="text-secondary mb-0">Copyright © 2025 Pidlisnyi Lev</p>
    </div>
</footer>
